* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.upload_button img{
	height: 230px;
	width: 230px;
}

.modalDialog{
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-left: 50px;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target{
	opacity: 1;
	pointer-events: auto;
}

.modalDialog > div{
	width: 400px;
	height: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }


.nav-container{
	z-index: 90000;
	position: fixed;
	padding: 0;
	top: 0;
	left: 0;
	height: 100%;
	width: 60px;
	background: #001a09;
	transition: width ease .5s;	
}

nav ul {
	list-style: none;
	left: 0;
	margin-left: 0;
	margin-top: 10px;
	padding: 10px;

}

nav ul li{
	left: 0;
	margin-left: 0;
	padding-top: 90px;	
}

.nav-container nav ul li a:active, a:visited{
	color: #cf0000;
	z-index: 90000;
}

.nav-container nav ul li a img:hover{
	z-index: 90000;
	height: 55px;
	width: 55px;
	transition:  .2s ease-in-out;
    -moz-transition:  .2s ease-in-out;
    -webkit-transition:  .2s ease-in-out;
}

.output{
	z-index: 9999;
	height: 500px;
	width: 500px;
	clear: both;
	margin: 130px 0 0 500px;
	top:0; left: 0; right: 0; bottom: 0;
	text-align: center;
	float: center;
	position: absolute;
	
}

@media screen and (max-width: 760px){
	
	body{
		height: 960px;
		width: 640px;
		overflow: hidden;
	}
	
	.fancy-file{
		height:960px;
		width: 640px;
		background: url("grapes.jpg");
		background-size: 960px 640px;
	}

	
	.fancy-file-name{
		height:960px;
		width: 640px;
		background: url("grapes.jpg");
		background-size: 960px 640px;
	}
	
	nav ul li{
		z-index: 90000;
		box-sizing: border-box;
		width: 100%;
		padding-top: 55px;
	}
	
	.upload_button{
		position: absolute;
		border-radius: 50%;
		margin: auto;
		top:0; bottom: 0; left: 0; right:0;
		text-align: center; float: center;
		height: 100px;
		width: 100px;
		background: #7edc13;
	
	}
	
	.jumbotron{
		background:url("https://cdn.vectorstock.com/i/composite/84,61/beautiful-abstract-background-vector-928461.jpg" ) no-repeat center center fixed;
		background-size: cover;
		height: 960;
		width: 540;
	}
	
	.b-orange{
		overflow: scroll;
	}
	
	.b-orange div{
		position: relative;
		display: table;
	}
	
	.fancy-file-name img {
		height: 150px;
		width: 150px;
	}
	.fancy-file-name button{
		height: 300px;
		width: 300px;
	}
	
	div.input-container {
	    position: absolute;
	    top:0;
	    left: 0;
	    bottom: 0;
	    right:0;
	    margin-left: auto;
	    margin-top: auto;     
		}

	div.input-container input {
	    opacity: 0; 
	    height: 250px;
	    width: 250px;
	    top: 0; bottom: 0; right:0; left: 0;
	    text-align: center;
	    margin:auto;
	    float: center;
	    position: absolute;
	    
    
	}
}

.panel {
  min-height: 100vh;
  margin-left: 60px;
}


.panel__content div{
	padding-right: 30px;
}

.panel__content ul{
	display: inline;
	list-style: none;
	padding-right: 20px;
	left: 0;
	clear: both;
	
}

.b-orange{
	background-color: rgba(255,  213,  186, 0.27);
}

.b-orange div{
	margin-left: 30px;
}

.backCircle{
	margin-left: 108px;
	margin-top:  177px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	float: center;
	text-align: center;
	height: 350px;
	width: 350px;
	border-radius: 50%;
	background-color: rgba(228,    238,    49, 0.51);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.backCircle:hover{
	-webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    
    transition:  .2s ease-in-out;
    -moz-transition:  .2s ease-in-out;
    -webkit-transition:  .2s ease-in-out;
}



.b-red{
	background-image: url("factsImage.jpg");
	background-size: cover;
}

.b-red p{
	color: white;
}


#2 form{
		width: 500 px;
		margin: 50px auto;
	}
	
.b-red{
	padding-left: 6px;
	background: url('factsImage.jpg');
	background-size: cover;
}

.b-red h3, label, #bmi{
	color: #f0eded;
	font-size: 20;
}
	
#search{
	padding:8px 20px;
	background: #0e9696;
	border:0px solid black;
	
}
#submit{
	position:relative;
	padding: 6px 15px;
	left:=8px;
	border:100px solid #000000;
	background-color:#b51c1c;
	color:fuchsia;
}


.panel__content ol{
	list-style: none;
}

#sr{
	
	clear: both;
	float: left;
}

#ml{
	clear: both;
	float: left;
}

#nd{
	margin-left: 100px;
}

.progress,
.progress:hover {
	background: #1010f0whitecornflower;
	padding: 0;
	height: 30 px;
	width: 68px;
}
#progress-bar {
	background: #000;
	display: block;
	height: 30px;
	width: 0;
}

.moreFacts{
	margin-left: 10px;
	width: 500px;
}

.moreFacts h2{
	color: #e5e2e2;
}

.moreFacts ul {
	list-style: hiragana;
	
}

.moreFacts h2:hover, li:hover{
	-webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    
    transition:  .2s ease-in-out;
    -moz-transition:  .2s ease-in-out;
    -webkit-transition:  .2s ease-in-out;
}

/*
.b-orange .panel__content{
	height: 100%;
	width: 100%;
	background: url('');
	background-size: cover;
}
*/

